
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
.idea/
.history/
/node_modules/
**/myenv/
myenv/


__pycache__/
*.pyc

.vscode/
.idea/

*.log
.vscode

.gitignore
Backend/assets/
