# IDE and system files
.idea/
.vscode/

# Node and Python environment
**/node_modules/
**/myenv/
__pycache__/
*.pyc

# Log files
*.log

# Git metadata/history
.history/

.history
package-lock.json
Backend/.vscode
Backend/package-lock.json
Frontend/package-lock.json

**/venv/
__pycache__/
/Python/output/
