/* WelcomePopup.module.css */

.overlay {
  position: fixed;
  inset: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.overlay::before {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, #ffe8a3, #ff7f50, transparent);
  opacity: 0.2;
  z-index: -1;
}

.container {
  background:transparent;
  border-radius: 24px;
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.close {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 1.8rem;
  color: #666;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.close:hover {
  color: #000;
}

.curve {
  font-size: 2.3rem;
  font-weight: 900;
  color: #7e9829;
  margin-bottom: 1.5rem;
  letter-spacing: 0.4rem;
  text-shadow: 2px 2px #5c5c5c;
  transform: rotate(-2deg);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  animation: pop 1s ease-in-out infinite alternate;
}

@keyframes pop {
  0% { transform: scale(1) rotate(-2deg); }
  100% { transform: scale(1.05) rotate(2deg); }
}


.lottieWrapper {
  max-width: 300px;
  margin: 0 auto 1.5rem;
}

.lottieSmall {
  width: 100% !important;
  height: auto !important;
}

.user {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333; 
}

.username {
  color: #ff6a00; 
}


.subtext {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.button {
  background: #94a94c;
  color: white;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.button:hover {
  background: #b8bec4;
}
