.question-card {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.quiz-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}

.quiz-select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}

.response-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.response-group input {
  width: calc(100% - 120px);
  margin-bottom: 10px;
}

.progress-bar-container {
  margin: 20px 0;
}

.progress-bar {
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 100%;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}

.spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.quiz-form-grp {
  margin-bottom: 15px;
}

.pill-button {
  background-color: #93a753;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pill-button:hover {
  background-color: #7a7d80;
}

.remove-answer {
  background-color: #f97d43;
  color: rgb(242, 231, 231);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-answer:hover {
  background-color: #d32f2f;
}

.difficulty-selector,
.attempts-input {
  margin-bottom: 15px;
}

.difficulty-selector select,
.attempts-input input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap-2 {
  gap: 10px;
}
