.pill-button {
    background-color: #a4b452;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 28px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    box-shadow: 4px 6px 0px #0b005c;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease, color 0.3s ease;
  }
  
  .pill-button:hover {
    background-color: #dfe3d5; /* Yellow */
    color: black;
    transform: translateY(-2px);
    box-shadow: none; /* Shadow removed */
  }
  
  .pill-button:active {
    transform: translateY(1px);
    box-shadow: 2px 4px 0px #0b005c;
  }
  
  .form-grp {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-grp input[type="text"] {
    width: 5000px; /* Smaller input field */
    margin-right: 10px; /* Space between the input and checkbox */
  }
  
  .form-grp input[type="checkbox"] {
    margin-left: 1px; /* Adjust spacing between input and checkbox */
  }
  
  .question-type-selector {
    margin-bottom: 20px;
    color: #4b4b4b ; /* Adjust space from other fields */
  }
  
  .question-type-selector label {
    font-size: 14px; /* Customize font size */
    margin-bottom: 5px;
    display: block; /* Ensure the label is above the select box */
  }
  
  .question-type-selector select {
    width: 100%; /* Make the select box take full width */
    padding: 8px; /* Add some padding for better visual */
    font-size: 14px; /* Adjust font size */
    border-radius: 4px; /* Rounded corners for the select box */
    border: 1px solid #ccc; /* Light border */
  }
  .nav-tabs .nav-link.completed {
    color: #7d8c3e!important;
  }